---
---

<section class="categories">
	{% assign test = site.collections | where_exp:'item', 'item.label != "posts"' %}
	{% for collection in test %}
		{% assign name = collection.title %}
		{% assign label = collection.label %}

		<section class="category">
			<h3>
				<a href="{{ site.baseurl }}/{{ name | slugify }}/">{{ name }}</a>
			</h3>
			<ul>
				{% assign sorted_pages = site[label] | sort:"order" %}
				{% assign size = sorted_pages | size %}
				{% for post in sorted_pages limit: 5 %}
					<li><a href="{{ post.url }}">{{ post.title }}</a></li>
				{% endfor %}
				{% if size > 5 %}
				<li><a href="{{ site.baseurl }}/category/{{ name | slugify }}/">{{ size | minus: 5 }} more...</a></li>
				{% endif %}
			</ul>
		</section>
	{% endfor %}
</section>